
.positive { color: #2ECC71; }
.negative { color: #E74C3C; }

.yeardashboard { padding: 20px; min-height: 100%; max-width: 1600px; margin: 0 auto; }

.yeardashboard h3 { margin: 10px 0px; font-size: 20px; font-weight: 400; border-bottom: 1px solid #ddd; color: #5E6975; }

.card { color: #73879C; margin: 10px 0; }
.card a { color: inherit; }
.card-number a { color: inherit; }
.card-half { float: left; width: 50%; }

p.card-maj {     margin: 0px; font-size: 10px; font-style: italic; font-weight: 300; }

.card-number { font-size: 30px; font-weight: 300; margin: 0!important; font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif; }
.card-tab { 
	background-color: #fff;
	color: #73879C; 
	padding: 20px; 
	margin: 0px 0 10px; 
	border-left: 1px solid rgba(0, 0, 0, 0.125);
	border-right: 1px solid rgba(0, 0, 0, 0.125);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.tresorerie .card-number { font-size: 20px; font-weight: 300; }

.card.card-cca { -webkit-flex-direction: row; flex-direction: row; }
.card-cca-half { width: 50%; }

#commandes, #facture_non_encaisse, #pipe, #facture, #fournisseur, #releve { cursor: pointer; }

.ca_target { font-size: 18px; }

/* ProgressBar */
canvas { width: 100%; }
/* Legende ProgressBar */
.table-legend { width: 100%; max-width: 100%; margin: 10px 0; border-collapse: separate; border-spacing: 8px; font-size: 11px; }
.table-legend .nb { text-align: right; }
.table-legend-total td { border-top: 1px solid #eee; border-bottom: : 1px solid #eee; font-weight: 700; padding: 2px 0; }
